@use 'abstracts' as *;

.filter-btn {
  padding: rem(8.5px) rem(11px);
  font-weight: 500;
  @include font-size(14px);
  line-height: 1.37;
  letter-spacing: 0.2px;
  border: 0;
  border-radius: 2px;

  .icon {
    @include font-size(12px);
    margin-right: rem(15px);
  }
}
