@use 'abstracts' as *;

.filter-btn {
  font-weight: 500;
  @include font-size(14px);
  line-height: 1.37;
  letter-spacing: 0.2px;
  
  .icon {
    @include font-size(12px);
  }

  &:focus {
    background-color: transparent;
    
    &:hover {
      background-color: transparent;
      box-shadow: 0 0 0 2px #85b7db;
    }
  }
}

.table__reset {
  .icon {
    margin-right: rem(2px) !important;
  }
}
