@use 'abstracts' as *;

.intro {
  position: relative;
  display: grid;
  grid-column-gap: rem(72px);
  padding: rem(64px) 0;
  
  @include breakpoint('medium') {
    grid-template-columns: 2fr 1fr;
  }

  &__program {
    grid-column: 1 / -1;
    color: $color__white-160;
    text-align: center;
    @extend %subtitle;
  }

  &__subject {
    grid-column: 1 / -1;
    margin-top: rem(10px);
    margin-bottom: rem(48px);
    color: $color__white;
    font-family: $font__expo;
    font-weight: 600;
    line-height: 1.04;
    text-align: center;
    @include font-size(54px);
  }

  &__description {
    grid-column: 1 /  span 1;
    margin-bottom: 0;
    color: $color__white-190;
    @extend %body__text-l;
  }

  nav {
    @include breakpoint('medium') {
      padding-left: rem(24px);
      border-left: 1px solid rgba($color__gray-700, 0.55);
    }
    
  }

  &__nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-style: none;
  }

  li {
    margin-bottom: rem(10px);
  }

  &__nav-item {
    grid-column: 2 / span 1;
    color: $color__white-190;
    text-decoration: none;
    @extend %body__text-m;

    &:hover {
      color: $color__white;
    }

    &:focus {
      color: $color__white-190;
      text-decoration: underline;
    }
  }

  &__nav-item-methodology {
    padding-bottom: 10px;
  }
  
  &__download-desc {
    grid-column: 2 / span 1;
    margin-bottom: 0;
    color: $color__white-160;
    @extend %body__text-m;
  }
  
  .intro__nav-item .icon {
    margin-left: 10px;
    @include font-size(20px);
    color: $color__blue-200;

    &:hover {
      color: $color__blue-100;
    }

    &:focus {
      color: $color__blue-200;
    }
  }
}
