@use 'abstracts' as *;

.methodology {
  position: relative;
  display: grid;
  grid-column-gap: 72px;
  grid-row-gap: rem(16px);
  grid-template-columns: 2fr 1fr;
  padding: rem(48px) 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc((100vw - 100%) / -2 - 10px);
    display: block;
    width: 100vw;
    height: 1px;
    background-color: #979797;
  }


  &__title {
    grid-column: 1 / span 2;
    margin-top: 0;
    margin-bottom: 0;
    color: $color__white;
    font-family: $font__expo;
    @include font-size(34px);
    line-height: 1;
  }
  
  &__desc {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin-bottom: 0;
    color: $color__white-190;
    @extend %body__text-l;
  }
  
  &__program-desc {
    margin-bottom: 0;
    padding-left: rem(24px);
    color: $color__white-190;
    @extend %body__text-m;

    a {
      color: $color__blue-200;
      transition: all 0.5s ease;

      &:hover {
        color: #89b9dc;
        text-decoration: none;
      }
    }
  }
}
