@use 'abstracts' as *;

.share {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &-item {
    display: flex;
    justify-content: center;
    width: 37px;
    height: 37px;
  }

  .icon {
    width: 20px;
    height: 20px;
    padding: rem(16px);
    color: $color__white-160;
    transition: color 0.5s ease;

    &:hover {
      color: $color__white;
    }

    &-email {
      width: 22px;
    }
  }

  &-print {
    padding: 0;
    background: none;
    border: transparent;
    cursor: pointer;
  }
}
