@use 'abstracts' as *;

.table {
  flex: 1 1 auto;
  width: 100%;
  text-align: left;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;

  &__container {
    position: relative;
    display: flex;
    max-width: 100%;
    overflow-x: scroll;

    &::after {
      content: '';
      display: block;
      flex: 1 0 auto;
      width: $padding--mobile;

      @include breakpoint('medium') {
        width: $padding--desktop;
      }
    }

    &--sticky {
      position: sticky;
      top: 65px;
      top: calc(var(--optionsHeight) - 2px);
      z-index: 10;
    }
  }

  col {
    width: 200px;

    @include breakpoint('large') {
      width: 250px;
    }

    &:first-child {
      width: 150px;

      @include breakpoint('large') {
        width: 300px;
      }
    }
  }

  &__cell {
    padding: rem(12px);
    vertical-align: top;

    @include breakpoint('large') {
      padding: rem(24px) rem(24px) rem(16px);
    }

    &:first-child {
      position: sticky;
      left: 0;
      padding-left: 1rem;

      @include breakpoint('large') {
        padding-left: rem(40px);
      }
    }

    &:last-child {
      padding-right: rem(40px);
    }

    &--header {
      position: relative;
      z-index: 1;
      color: $color__white;
      font-weight: 500;
      font-size: 18px;
      font-size: calc((1.125rem) * var(--table-font-size));
      line-height: 1.2;
      background-color: $color__blue-300;

      &:first-child {
        z-index: 10;
        box-shadow: 0 -5px 17px -1px rgba(7, 23, 35, 0.64);
      }
    }

    &--body {
      color: $color__gray-300;
      font-size: 16px;
      font-size: calc((1rem) * var(--table-font-size));
      line-height: 1.41;
      background-color: $color__white;
      transition: background 0.3s ease-in-out;

      &:first-child {
        z-index: 5;
        box-shadow: 0 6px 8px 0 rgba(164, 164, 164, 0.5);
        pointer-events: none;
      }

      .cell__orig-lang {
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }

      .icon {
        transition: none;
      }

      &-no-data {
        color: $color__gray-487;
        font-style: italic;
      }
    }

    &--hidden > * {
      display: none;
      visibility: hidden;
    }

    &--collection {
      position: relative;
      padding: rem(16px) rem(40px);
      color: $color__gray-487;
      font-weight: 600;
      line-height: 1.2;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      background-color: $color__gray-100;
      @include font-size(17.6px);
    }
  }

  &__header-row {
    background: $color__blue-300;
  }

  &__row {
    background-color: $color__white;
    border-bottom: solid 1px $color__gray-200;
    pointer-events: none;

    > *:not(.table__cell--collection) {
      pointer-events: auto;
    }

    &:hover,
    &:focus-within {
      > * {
        background: $color__highlight-row;
      }

      > :hover,
      > :focus {
        background: $color__highlight-cell;

        /* stylelint-disable-next-line */
        .cell__orig-lang {
          opacity: 1;
        }
      }
    }
  }

  .header-cell {
    &__title {
      position: relative;
      max-width: 100%;
      margin-bottom: rem(4px);
      padding: 0 rem(20px) 0 0;
      overflow: hidden;
      color: $color__white;
      @extend %table__header;
      font-size: calc((1.125rem) * var(--table-font-size));
      white-space: nowrap;
      text-align: left;
      text-overflow: ellipsis;
      background: transparent;
      border: 0;
      cursor: pointer;

      &:hover .icon {
        color: $color__white;
      }

      .icon {
        position: absolute;
        top: 2px;
        right: 0;
        color: $color__white-160;
        font-size: 0.8em;
      }
    }

    &__org {
      margin-bottom: rem(8px);
      color: $color__white-175;
      @extend %body__text-xs;
      font-size: calc((0.8125rem) * var(--table-font-size));
    }

    &__doc-link {
      display: inline-flex;
      color: $color__white-160;
      font-size: calc((0.8125rem) * var(--table-font-size));
      text-decoration: none;
      transition: color 0.3s ease-in-out;
      @extend %body__text-xs;

      &:hover {
        color: $color__white;
      }

      .icon {
        margin-right: rem(4px);
      }
    }
  }

  .cell {
    &__category {
      margin-bottom: rem(4px);
      color: $color__black;
      @extend %table__header;
    }

    &__desc {
      color: $color__gray-487;
      @extend %body__text-xs;
      font-weight: normal;
      font-size: calc((0.8125rem) * var(--table-font-size));
    }

    &__orig-lang {
      padding: 0;

      &:focus {
        color: $color__black;
        opacity: 1;
      }

      @include breakpoint('large') {
        padding: rem(8px) rem(8px) rem(8px) 0;
      }
    }

    &__abbrev-lang {
      @include font-size(14px);
      font-size: calc((0.875rem) * var(--table-font-size));

      @include breakpoint('large') {
        font-size: 16px;
        font-size: calc((1rem) * var(--table-font-size));
      }

      p {
        margin-bottom: 0.3rem;
      }

      ul,
      ol {
        margin-top: 0;
        padding-left: rem(20px);
      }
    }
  }

  &__filter {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: rem(10px);

    @include breakpoint('large') {
      margin-bottom: 0;
    }
  }

  &__options {
    position: sticky;
    top: -1px;
    z-index: 15;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: rem(16px) 0;
    padding-right: calc(#{$padding--mobile} - 0.5rem);

    @include breakpoint('large') {
      flex-wrap: nowrap;
      padding: rem(20px) 0;
      padding-right: calc(#{$padding--desktop} - 0.5rem);
    }

    &--sticky {
      background-color: $color__gray-400;

      &::before {
        position: absolute;
        left: calc((100vw - 100%) / -2);
        z-index: -1;
        display: block;
        height: 100%;
        background-color: $color__gray-400;
        content: '';
        @include vw100;
      }
    }

    &-spacer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      @include breakpoint('large') {
        flex-wrap: nowrap;
        justify-content: center;
        width: initial;
      }
    }

    &-resize {
      .icon {
        display: flex;
        align-items: center;
      }

      &-sm,
      &-md,
      &-lg {
        width: rem(34px);
        height: rem(34px);
        padding: 0;
        box-shadow: 0 0 0 2px $color__gray-600;
      }

      svg {
        width: 100%;
      }

      &-sm,
      &-md {
        margin-right: rem(10px);
      }

      &-sm {
        @include font-size(12px);
      }

      &-md {
        @include font-size(14px);
      }

      &-lg {
        @include font-size(16px);
        margin-right: rem(20px);
      }
    }
  }
}

@supports (-ms-ime-align: auto) {
  .table {
    border-collapse: separate;

    &__cell--body .cell__orig-lang {
      opacity: 1;
    }
  }
}

.tippy-tooltip {
  display: none;

  @include breakpoint('large') {
    display: block;
  }
}
