/*=================================
=            Variables            =
=================================*/

/*----------  Colors  ----------*/


$color__white: #ffffff;
$color__groupbg: #d2d8db;
$color__highlight-cell: #e6ebef;
$color__highlight-row: rgba(232, 238, 242, 0.6);
$color__white-90: rgba(255, 255, 255, 0.9);
$color__white-60: rgba(255, 255, 255, 0.6);
$color__white-30: rgba(255, 255, 255, 0.3);
$color__white-25: rgba(255, 255, 255, 0.25);


$color__gray: #242c32;
$color__gray-100: #202c36;
$color__gray-200: #131f2a;
$color__gray-300: #08121a;

$color__gray-20: rgba(32, 44, 54, 0.2);
$color__dark-30: rgba(32, 44, 54, 0.3);
$color__gray-60: rgba(32, 44, 54, 0.6);
$color__gray-87: rgba(32, 44, 54, 0.87);

$color__black: #000000;


$color__blue-100: #b4d3e9;
$color__blue-200: #66a5d2;
$color__blue-300: #3385bd;
$color__blue-400: #0065a4;
$color__blue-500: #003f6c;
$color__blue-600: #00528a;




// opacity - do not define variables
// order from light to dark
// rename color color__blue-100 and go up as color increases

/*----------  Typography  ----------*/

$font__roboto: Roboto;
$font__expo: ExpoSerifPro;

// san serif fall back?

/*----------  Structure  ----------*/

$sizes__default: ('small', 'medium', 'large', 'xlarge');

$breakpoints: (
  // 0
    'small': 0,
  // 600px
    'medium': 37.5em,
  // 900px
    'large': 56.25em,
  // 1050px
    'large-2': 68.75em,
  // 1280px
    'xlarge': 80em,
  // 1440px
    'xlarge-2': 90em
);
