.letter {
  max-width: 25px;
}

table {
  /* css variables */
  --font-size-1: 14px;
  --font-size-2: 16px;
  --font-size-3: 20px;

  /* default table font-size */
  font-size: 16px;
  border-collapse: collapse;
  margin-right: 35px;
}

/* table,
th,
td {
  border: 1px solid #c0c4ca;
} */

.divider {
  /* css variables */
  --column-count: 11;

  height: 50px;
  background-color: grey;
  width: calc(100% * var(--column-count));
  text-align: left;
}

td,
th {
  /* height: auto; */
  /* text-align: center; */
  width: 300px;
  min-width: 300px;
  min-height: 400px;
}

tbody {
  /* display block for sticky header */
  display: block;
}

.table__wrapper {
  position: relative;
  margin: 30px 0 30px 30px;
  overflow: scroll;
  position: relative;
  max-width: 600em;
  /* height must be set for the header to be sticky */
  height: 1763px;
}

.table__wrapper::after {
  content: '';
  display: block;
  background-color: red;
  width: 2rem;
  height: 100%;
}

td:first-child,
th:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  /* background-color: white; */
}

thead > * {
  /* background: white; */
  /* display block for sticky header */
  display: block;
  position: sticky;
  top: 0;
  z-index: 10;
}
