.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.email {
  width: 1.349609375em;
}

body {
  background-color: rgba(32, 44, 54, 0.8);
}
