@use 'abstracts' as *;

.site-footer {
  @extend %body__text-s;
  position: relative;
  display: grid;
  grid-column-gap: rem(96px);
  grid-row-gap: rem(16px);
  padding: rem(48px) 0;

  @include breakpoint('medium') {
    grid-template-columns: 3fr 4fr 3fr; 
  }

  &::before {
    content: '';
    position: absolute;
    left: calc((100vw - 100%) / -2);
    z-index: -1;
    display: block;
    width: 100vw;
    height: 100%;
    background-color: $color__gray-500;
  }

  a {
    color: $color__blue-200;

    &:hover {
      color: $color__blue-700;
      text-decoration: none;
    }
  }

  &__logo {
    margin-bottom: rem(15px);
  }

  &__copyright {
    color: $color__white-160;
    opacity: 0.77;
  }

  &__privacy-pol {
    @include breakpoint('medium') {
      display: block;
    }
  }

  &__desc,
  &__address {
    color: $color__white-175;
  }

  &__desc p {
    margin-bottom: 0;
  }

  &__address {
    width: rem(197px);
    margin-top: rem(11px);
    font-style: normal;
  }
}
