@use 'abstracts' as *;

.site-header {
  // header section
  position: relative;
  display: flex;
  justify-content: space-between;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc((100vw - 100%) / -2 - 10px);
    display: block;
    width: 100vw;
    height: 1px;
    background-color: $color__gray-700;
  }

  // logo link
  &__logo {
    display: flex;
    align-items: center;
    color: $color__white;
    font-weight: bold;
    line-height: 1.05;
    letter-spacing: 1.03px;
    text-transform: uppercase;
    text-decoration: none;

    // csis logo svg
    .csis-link__logo {
      margin: rem(20px);
      margin-right: rem(10px);
      padding-right: rem(10px);
      border-right: 1px solid $color__white;
    }
  }
}
